<div class="top">
  <ul class="row">
    <li class="col-md-4"></li>
    <li class="col-xs-12 col-md-4">
      <center>
          <%= image_tag "chicken.gif" %>
         
      </center>     
          <h2>
            
         【このアプリについて】
              
          </h2>
          <h3>
              
                日頃言いたくても言えない事を
                一言でどんどん書き込もう！
          </h3>
        
        
        
       
    </li>
    <li class="col-md-4"></li>
  </ul>
</div>