body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {

background-image: image-url("top.jpg");
background-size: cover;

}

ul {
  list-style: none;
}

input[type="text"] {
        width: 300px;
        height: 25px;
    }
    
.btn_submit {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 9pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(255, 255, 255, 0.53);     /* 背景色     */
  color         : #1a1aff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 2px #666666;  /* 影の設定 */
}
.btn_submit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}



footer {
  margin-top: auto;
  height: 25px;
  background-color : 	#CCFFFF ;
  color : #3366FF;
}


